.env
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.sqlite3
.DS_Store
config/credentials/gmail_credentials.json
config/credentials/gmail_credentials1.json
config/credentials/token.json