{% extends "base.html" %}

{% block content %}
<div class="share-container">
  <div class="share-box">
    <h2>Share this {{ content_type }}</h2>
    <div class="share-url">
      <input type="text" value="{{ share_url }}" id="shareUrl" readonly>
      <button onclick="copyToClipboard()" class="btn btn-primary">
        <i class="fas fa-copy"></i> Copy
      </button>
    </div>
    <div class="social-share">
      <a href="https://www.facebook.com/sharer/sharer.php?u={{ share_url|urlencode }}&quote=Check%20this%20{{ content_type }}%20on%20CareerMaker"
         target="_blank" class="btn btn-facebook">
        <i class="fab fa-facebook-f"></i> Facebook
      </a>
      <a href="https://twitter.com/intent/tweet?url={{ share_url|urlencode }}&text=Check%20this%20{{ content_type }}%20on%20CareerMaker"
         target="_blank" class="btn btn-twitter">
        <i class="fab fa-twitter"></i> Twitter
      </a>
      <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ share_url|urlencode }}"
         target="_blank" class="btn btn-linkedin">
        <i class="fab fa-linkedin-in"></i> LinkedIn
      </a>
      <a href="https://wa.me/?text=Check%20this%20{{ content_type }}%20on%20CareerMaker%20{{ share_url|urlencode }}"
         target="_blank" class="btn btn-whatsapp">
        <i class="fab fa-whatsapp"></i> WhatsApp
      </a>
    </div>
  </div>
</div>

<script>
function copyToClipboard() {
  const copyText = document.getElementById("shareUrl");
  copyText.select();
  copyText.setSelectionRange(0, 99999);
  navigator.clipboard.writeText(copyText.value)
    .then(() => {
      const originalText = copyText.nextElementSibling.innerHTML;
      copyText.nextElementSibling.innerHTML = '<i class="fas fa-check"></i> Copied!';
      setTimeout(() => {
        copyText.nextElementSibling.innerHTML = originalText;
      }, 2000);
    })
    .catch(() => {
      // Fallback for older browsers
      document.execCommand("copy");
      alert("Copied the link: " + copyText.value);
    });
}
</script>
{% endblock %}